<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Error 404 | Ben Basten</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/icons/icon.png">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="css/navigation-general.css" />
    <script src="js/main.js"></script>
</head>

<body onload="setVideo(); highlightThumbnail()">
    <div class="content">
        <ul class="navigation" id="navBar">
            <li><a id="hamburger" href="javascript:void(0)" onclick="openMenu()"><img src="img/icons/hamburger.png" alt="hamburger" id="burgerIcon"></a></li>
            <li class="logo"><a class="logo" href="/"><img src="img/icons/logo-small.png" alt="logo" onmouseover="highlightIcon(3)"
                        onmouseout="flattenIcon()" id="personalLogo"></a></li>
            <li class="navigation"><a class="navigation" href="/photo">Photo</a></li>
            <li class="navigation"><a class="navigation" href="/video">Video</a></li>
            <li class="navigation"><a class="navigation" href="/about">About</a></li>
            <li class="navigation"><a class="navigation" href="/contact">Contact</a></li>
            <li class="social"><a class="social" href="http://instagram.com/ben.basten2" target="_blank"><img src="img/icons/instagram-small.png"
                        alt="Instagram: ben.basten2" onmouseover="highlightIcon(1)" onmouseout="flattenIcon()" id="insta"></a></li>
            <li class="social"><a class="social" href="https://www.youtube.com/channel/UC4QJKs4omKo_cDSVvPC1nEA" target="_blank"><img
                        src="img/icons/youtube-small.png" alt="Youtube: Ben Basten" onmouseover="highlightIcon(2)"
                        onmouseout="flattenIcon()" id="youtube"></a></li>
            <li class="social">
                <a class="social" href="https://github.com/ben-basten" target="_blank">
                    <img src="img/icons/github-small.png" alt="GitHub" onmouseover="highlightIcon(5)"
                            onmouseout="flattenIcon()" id="github">
                </a>
            </li>
        </ul>

        <div class="beige card">
            <h1>Oops! That page wasn't found.</h1>
            <p>The page you are looking for was either removed or doesn't exist.</p>
            <p>Click <a href="/">here</a> to go back to the home page.</p>
        </div>
    </div>

    <div id="footer">
        <div class="column" style="border-right: 1px solid white;">
            <h3>My Work</h3>
            <ul>
                <li><a href="/photo">Photos</a></li>
                <li><a href="/video">Videos</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>About Me</h3>
            <ul>
                <li><a href="/about">Bio</a></li>
                <li><a href="/myyear2018">My Year 2018</a></li>
            </ul>
        </div>
        <div class="column" id="lastColumn">
            <h3 class="mobileRemove">Get in touch</h3>
            <ul>
                <li><a href="/contact">Contact Form </a><span class="mobile"> • </span></li>
                <li class="footer-social"><a href="https://instagram.com/ben.basten2" alt="Instagram: Ben Basten" target="_blank"><img
                            src="img/icons/instagram-small-grey.png" alt="instagram"></a> </a><span class="mobile">•</span> <a href="https://www.youtube.com/channel/UC4QJKs4omKo_cDSVvPC1nEA"
                        alt="YouTube: Ben Basten" target="_blank"><img src="img/icons/youtube-small-grey.png" alt="youtube"></a></li>
            </ul>
        </div>
        <p class="inline" id="credit">Website design by Ben Basten</p>
    </div>
</body>

</html>